.home-page__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-repeat: repeat-y;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .showcase-grid-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .showcase-grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;

    flex-wrap: wrap;

    gap: 10px;

    margin-bottom: 50px;
  }
}
