.textfield__container {
  width: 100%;

  .css-l4u8b9-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 2px solid white !important;
  }

  .css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 2px solid white !important;
  }
}
